<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Categorias</title>
    <link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet" />
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="icon" href="../assets/logo.png" type="image/x-icon">
    <script src="../js/axios.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <aside id="sidebar">
            <div class="d-flex">
                <button class="toggle-btn" type="button">
                    <i class="lni lni-key-1"></i>
                </button>
                <div class="sidebar-logo">
                    <a href="dashboard.html">Gestor Claves</a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a href="dashboard.html" class="sidebar-link">
                        <i class="lni lni-key-1"></i>
                        <span>Mis Claves</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                        data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                        <i class="lni lni-user-multiple-4"></i>
                        <span>Familia</span>
                    </a>
                    <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                        <li class="sidebar-item">
                            <a href="crear_familia.html" class="sidebar-link">Crear una familia</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="compartidas.html" class="sidebar-link">Contraseñas compartidas</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="gestionar_familias.html" class="sidebar-link">Gestionar familia</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="gestionar_usuarios.html" class="sidebar-link">
                        <i class="lni lni-target-user"></i>
                        <span>Gestionar Usuarios</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="gestionar_categorias.html" class="sidebar-link">
                        <i class="lni lni-dashboard-square-1"></i>
                        <span>Gestionar Categorias</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="gestionar_familias.html" class="sidebar-link">
                        <i class="lni lni-hierarchy-1"></i>
                        <span>Gestionar Familias</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="cuenta.html" class="sidebar-link">
                        <i class="lni lni-user-4"></i>
                        <span>Cuenta</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="#" id="logout" class="sidebar-link">
                    <i class="lni lni-exit"></i>
                    <span>Cerrar Sesión</span>
                </a>
            </div>
        </aside>

        <!-- Reemplaza el contenido dentro de <div class="main p-3"> en crear_familia.html -->
        <div class="main p-3">
            <div class="text-justify">
                <h1>Miembros familia</h1>
                <br>
                <button class="btn btn-primary" id="crear-invitacion">Crear Invitacion</button>
                <br>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Email</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/sidebar.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/sweetalert2.min.js"></script>
    <script src="../js/gestionar_familias.js"></script>
</body>

</html>